
ul{
    list-style-type: none ;
}


.container {
max-width: 1200px;
margin: 0 auto;
padding: 0 15px;
}
header{
    font-size: 0;
    padding: 0;
}

.logo,
.header__nav,
.button
{

    display: inline-block;
    border: 1px;
    vertical-align: middle;
    font-size: 16px;

}
.header__nav ul
.header_social{
    padding: 0;
    margin: 0; }

.button {
  width: 100px;
  background: #46A358;
  color: #fff;
  border: 1px solid #46A358;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  
}
.logo {
    width: 150px;
    
}
.header_social {
    text-align: center;
    }
    .header__nav {
        width: calc(100% - 350px);
    }

    .header_social li {
        display: inline-block;
        margin: 0 25px;
    }
    .header_social a {
        text-decoration: none;
        color: #3d3d3d; ;
        
        padding-bottom: 30px;
    }
    .active a{
        font-weight: 700;
    }
    .active a,
    .header_social a:hover {
border-bottom: solid 3px #46A358;
    }

.button1 {
  width: 140px;
  height: 40px;
  background: #46A358;
  color: #fff;
  border: 1px solid #46A358;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  padding-left: 41px;
  margin: 44px;
  display: flex;
  
  }

.container2 {
  width: 1200px;
  height: 450px;
  padding: 0 15px;
   margin: 12px auto;
  }

  .welcome-text,
  .flower1{
    display: inline-block;
    border: 1px;
    vertical-align: middle;
  }
.welcome-text{
    width: 48%;
}
.flower1{
width: 48%;
}
.welcome{
margin: 7px;
padding-left:   43px;
}
.about{
margin:  7px;
padding-left:  40px;

}
.about2{
margin:  5px;
padding-left: 43px;

}